.AdvertismentOne__main{
    height: 380px;
    width: 335px;
    background: white;
    margin: 10px;
}
.AdvertismentOne__header{
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    padding: 15px;
}
.AdvertismentOne__body{
    padding-left: 15px;
}
.AdvertismentOne__footer{
    padding: 15px;
}